terraform.tfstate.d/
*tfstate*
.terraform/*
*.swp
keys/*
!keys/.placeholder
*.auto.tfvars
!default.auto.tfvars.example

connection.all.json
connection.json
*.bna
post/fabric/config_generated/*
!post/fabric/config_generated/.placeholder
