ibm_bmx_api_key            = "API_KEY"
ibm_sl_username            = "USERNAME"
ibm_sl_api_key             = "API_KET"

datacenter                 = "tor01"
vm_post_install_script_uri = "gist"
domain                     = "test.com"
project                    = "test-app"

manager_count              = 3
node_count                 = 4

rsa_key_nat= {
    "public_key_path"  = "/keys/nat.pub"
    "private_key_path" = "/keys/nat"
    "aws_key_name"     = "nat"
}
rsa_key_bastion = {
    "public_key_path"  = "/keys/bastion.pub"
    "private_key_path" = "/keys/bastion"
    "aws_key_name"     = "bastion"
}
rsa_key_manager = {
    "public_key_path"  = "/keys/manager.pub"
    "private_key_path" = "/keys/manager"
    "aws_key_name"     = "manager"
}
rsa_key_node= {
    "public_key_path"  = "/keys/node.pub"
    "private_key_path" = "/keys/node"
    "key_name"         = "node"
}
vlans_public = {
    "development" = 1234
    "production"  = 1234
    "staging"     = 1234
    "testnet"     = 1234
    "trialnet"    = 1234
}
vlans_private = {
    "development" = 1234
    "production"  = 1234
    "staging"     = 1234
    "testnet"     = 1234
    "trialnet"    = 1234
}
vlan_router_hostname_public = {
    "development" = "fcr02a.${var.datacenter}"
    "production"  = "fcr02a.${var.datacenter}"
    "staging"     = "fcr01a.${var.datacenter}"
    "testnet"     = "fcr02a.${var.datacenter}"
    "trialnet"    = "fcr02a.${var.datacenter}"
}
vlan_router_hostname_private = {
    "development" = "bcr02a.${var.datacenter}"
    "production"  = "bcr02a.${var.datacenter}"
    "staging"     = "bcr01a.${var.datacenter}"
    "testnet"     = "bcr02a.${var.datacenter}"
    "trialnet"    = "bcr02a.${var.datacenter}"
}
vlan_subnets_private = {
    "development" = 123456
    "production"  = 123456
    "staging"     = 123456
    "testnet"     = 123456
    "trialnet"    = 123456
}
